body {
  font-family: Arial, Helvetica, sans-serif;
}

/*Nav styling*/
.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #4c6ca0;
  /* border-radius: 5px; */
  overflow: auto;
}

#login li {
  float: right;
  list-style-type: none;
}

.fa {
  float: right;
  padding-top: auto;
  padding-bottom: auto;
  color: #f3f3f3;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
}

.navbar li a:hover {
   background-color: #446190;    /* bg on hover */
   color: coral;   text         /* color on hover */
}

/*heading*/
h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/*showcase*/
#showcase {
  background: url("../img/bask2.jpeg") no-repeat center center/cover;
  height: 1000px;
  padding-top: 1px;
  /* border-top: solid; */
}
.container {
  margin: auto;
  max-width: 1100;
  overflow: auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  font-size: 20px;
  color: #fff; /* text color bfor hover */
  background: #333; /* bg color bfor hover */
  padding: 13px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* About us botton (index) */
.btn:hover {
  background-color: #446190; /* gb color when you place cursor on it */
  color: coral; /* text color when you place cursor on it */
}

.btn-light {
  background: #f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

/* .bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-primary {
  background: #333;
  color: #fff;
} */

.clr {
  clear: both;
}

/* padding(utility class)*/
.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}

#showcase .current {
  color: #fff;
  text-align: center;
  padding-top: 180;
}

#showcase .current h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .current p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

/*info-home*/
#info-home {
  height: 1000px;
}

#info-home {
  text-align: center;
}

#info-home .info-img {
  float: left;
  width: 35.9%;
  /* background: brown; */
  padding: 50px 50px;
  overflow: hidden;

  background: url("../img/bask1.jpeg") no-repeat center center/cover;
  /* min-height: 100%;*/
  height: 100%;
}

#info-home .info-content {
  float: right;
  width: 49%;
  height: 100%;
  text-align: center;
  padding: 50px 50px;
  overflow: hidden;
  background: #f4f4f4;
}

#info-home .info-content p {
  padding-bottom: 30px;
}

/*About Info*/
#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

#about-info .container {
  background: #f4f4f4;
}

#about-info .info-right img {
  float: block;
  margin: auto;
  width: 70%;
  /* padding: 30px 0; */
  border-radius: 50%;
}

#about-info .info-left {
  float: left;
  width: 50%;
  margin: -1px;
  min-height: 100%;
  padding-left: 0px;
}

.l-heading {
  font-size: 20px;
}

/* Testimonials  */
#testimonials {
  height: 100%;
  background: url("../img/bgcolor2.jpeg") no-repeat center center/cover;
  padding-top: 100px;
}

#testimonials .testimonial img {
  width: 100px;
  /* float: left; */
  border-radius: 60%;
  margin-right: 20px;
}

#testimonials .testimonial {
  padding: 20px;
  margin-bottom: 40px;
  background: #4c6ca0;
  border-radius: 5px;
}

#testimonials h2 {
  text-align: center;
  padding-bottom: 40;
  /* color: red; */
}

/* contact form
#contat-form .form-group {
  margin-bottom: 20px;
}

#contat-form .label {
  display: block;
  margin-bottom: 5px;
}

#contat-form input,
#contat-form .textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
} */

/* contact form */
input[type="text"], input[type="password"], input[type="radio"], input[type="email"], input[type="phone no"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc; /* Gray border */
  box-sizing: border-box; /* padding and width stays in place */
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 5px;
}

/* submit button */
input[type="submit"] {
  /* background-color: #4caf50; */
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #333; /* bg color bfor hover*/
}
/* sumbit botton hover */
input[type="submit"]:hover {
  background-color: #446190; /* bg color when place curson on it*/
  color: coral; /* text color when place cursor on it*/
}

.container1 {
  background: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

textarea {
  height: 300px;
  padding: 12px 20;
  width: 100%;
  border-radius: 10px;
  resize: none;
}

/* services */
/*info-home*/
#service-me {
  height: 1000px;
}

#service-me {
  text-align: center;
}

#service-me .info-service {
  float: left;
  width: 35.9%;
  /* background: brown; */
  padding: 50px 50px;
  overflow: hidden;
  background: #d8e0bb;
  /* min-height: 100%;*/
  height: 100%;
}

#service-me .info-contents {
  float: right;
  width: 49%;
  height: 100%;
  text-align: center;
  padding: 50px 50px;
  overflow: hidden;
  background: #4c6c; 
}

#service-me .info-contents p {
  padding-bottom: 30px;
}

.drpdown {
  width: 50%;
  
}


/* 
.container {
  height: 100%;
  
}  */


  /* login form  */
 form {
  border: 3px solid #f1f1f1;
}

.btn11{
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical; 
  border-radius: 6px;
  background: #333;
  color: white; 
  font-size: 20px;  
 } 

 /* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn11 {
     width: 100%;
  }
}

span.psw {
  float: right;
  padding-top: 16px;
}
 .btn11:hover {
   background-color: #446190;
   color: coral;
 }


#main-footer{
background-color: #4c6ca0;
padding: 15px;
text-align: center;
color: white;
}


